// first part of home page

a {
  text-decoration: none;
}

.home-img {
  background-image: url("home_background.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-position: center center;
  position: relative;
}

.home-text {
  font-family: $body-font;
  color: white;
  padding: 20% 10% 20%;

  h3 {
    opacity: 0.4;
  }
  h1 {
    font-weight: bold;
  }
}

.how-it-works-class-div {
  padding-top: 35px;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.how-it-works-button {
  background: transparent;
  border-radius: 4px;
  padding: 12px 30px 10px 30px;
  width: 173px;
  height: 50px;
  color: white !important;
  font-family: 'Roboto', sans-serif;
  border-color: white;
}

// steps in home page

.steps {
  background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url('undraw_web_development_w2vv.svg');
  background-repeat: no-repeat;
  background-position-y: 50px;
  background-size : contain;
  margin: auto;
  height: 100vh;
  color: $dark-gray;

  i {
    color: $purple;
    font-size: -webkit-xxx-large;
  }

  h1 {
    padding: 20px;
    font-weight: bold;
  }
}


// hover on icon-step titles

.svg-wrapper {
  height: 60px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #19f6e8;
}


.step-title {
  letter-spacing: 2px;
  line-height: 32px;
  position: relative;
  top: -48px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

// large steps cards

.lg-step-card {
  width: 100%;
  margin-top: 10%;
  padding-left: 10%;
  height: 100vh;
}

.lg-step-card-left {
  width: 100%;
  margin-top: 10%;
  padding-right: 5%;
  height: 100vh;

}

.card-text {
  letter-spacing: 1px;
  // max-width: 55%;

  h2 {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 0.5rem;
    color: $mid-gray;
  }

  ul {
    list-style-type: circle;
    color: $mid-gray;
  }

  .terminal {
    color: $purple;
  }
}



// responsivness for small screens

@media(max-width: 768px) {
  .home-text {
    padding-top: 25%;
    h1 {
      font-size: 2rem;
    }
    h3 {
     font-size: 1.5rem;
    }
  }
}

// Links to move aroud MainPage
#drawSchema, #pasteXML, #checkOurWork, #runYourApp {
  color: #eff0f1;
}
