.light-grey-area {
  background:#eff0f1;
  margin-bottom: 1.5em;
  padding: 40px;
  display: inline-block
}
.models-grey-text {
  color: $dark-gray;
}

.models-grey-tex span {
  color: $dark-gray;
}

.date-grey-text {
  color: $dark-gray;
  font-size: 0.7em;
}

.index-search-box {
  min-width: 400px;
}
