.light-grey-area {
  background:#eff0f1;
  margin-bottom: 1.5em;
  padding: 40px;
  display: inline-block
}
.models-grey-text {
  color: #858C93;
}

.models-grey-tex span {
  color: #858C93;
}

.date-grey-text {
  color: #858C93;
  font-size: 0.7em;
}

.index-search-box {
  min-width: 400px;
}
