<div class="container about">
  <div class="text">
    <div class="d-flex align-items-center"><i class="fas fa-terminal terminal"></i><h1>  About WALD</h1></div>

    <p>We are Pedro Cruz, Sapir Alagem, Joshua Summers and Lucas Padilha, We Are Lazy Developers - <i>'WALD'</i>.</p>
    <p>This app was designed as our finally project in "Le Wagon" bootcamp, a full-stack programming course, Lisbon.</p>
    <p>The original idea, invented by Josh, was to make developers lifes easier by writing a programm that will do ActiveRecord part which include migrations, models and relations, out of the database schema skeleton.</p>
    <p>While working on our project we've decided to expend and try to actually create a full rails app only out of the same schema. The work flow was extremely interesting and we succeeded, app can now be created out of a simple database schema in a matter of minutes. Yay!!</p>
  </div>

  <div class="images d-flex justify-content-between">
    <%= image_tag "luca.jpg", class: "avatar-square" %>
    <%= image_tag "sap.jpg", class: "avatar-square" %>
    <%= image_tag "josh.jpg", class: "avatar-square" %>
    <%= image_tag "pedro.jpg", class: "avatar-square" %>
  </div>
</div>
