<div class="container about">
  <div class="text">
    <div class="d-flex align-items-center"><i class="fas fa-terminal terminal"></i><h1>  About WALD</h1></div>

    <p class="mt-3">We are Pedro Cruz, Sapir Alagem, Joshua Summers and Lucas Padilha, We Are Lazy Developers - <i>'WALD'</i>.</p>
    <p>This app was designed as our finally project in "Le Wagon" bootcamp, a full-stack programming course, Lisbon.</p>
    <p>The original idea, invented by Josh, was to make developers lifes easier by writing a programm that will do ActiveRecord part which include migrations, models and relations, out of the database schema skeleton.</p>
    <p>While working on our project we've decided to expend and try to actually create a full rails app only out of the same schema. This was a great decision since the way to make it happen was extremely interesting for us to explore.</p>
    <p>And now, success! <strong>Web applications can now be created out of a simple database schema in a matter of minutes.</strong> Yay!!</p>
  </div>

  <div class="images d-flex justify-content-between">
    <div class="card">
      <%= image_tag "luca.jpg", class: "avatar-square" %>
      <a href="https://www.linkedin.com/in/lucas-padilha-a7aa44167/" class="icon" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>

    <div class="card">
      <%= image_tag "sap.jpg", class: "avatar-square" %>
      <a href="https://www.linkedin.com/in/sapir-alagem/" class="icon" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>

    <div class="card">
      <%= image_tag "josh.jpg", class: "avatar-square" %>
      <a href="https://www.linkedin.com/in/eichlersummers/" class="icon" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>

    <div class="card">
      <%= image_tag "pedro.jpg", class: "avatar-square" %>
      <a href="https://www.linkedin.com/in/pcruz95/" class="icon" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
