<div class="home-img">
  <div class="container">
    <h1>Never write ActiveRecord again!</h1>
    <h3>WALD converts your XML schema into</h3>
    <h3>a <strong>working app</strong> with your own models</h3>
    <h3>migrations and database</h3>
  </div>

  <div>
    <%= link_to "Sign in", user_github_omniauth_authorize_path %>
  </div>
</div>

