<div class="home-img">
  <div class="container home-text">
    <h1>Create Rails app in 5 minutes!</h1>
    <h3>WALD converts your visual database schema into a <strong>working app</strong> with your own models migrations and database</h3>

    <div class="convert-now-class-div">
      <%= link_to "convert now", new_project_path, class: "btn convert-now-button" %>
    </div>
  </div>
</div>

<div class="container steps text-center" >
  <h1 class="my-5">How does WALD works?</h1>
  <div class="row steps-with-icons">

    <div class="col-sm-12 col-md-4 col-lg-3">
      <i class="fas fa-database"></i>
      <div class="step-title mb-3"><h4>Draw schema</h4></div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-3">
      <i class="fas fa-file-upload"></i>
      <div class="step-title"><h4>Paste XML code</h4></div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-3">
      <i class="fas fa-check-circle"></i>
      <div class="step-title"><h4>Check our work</h4></div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-3">
      <i class="fas fa-trophy"></i>
      <div class="step-title"><h4>Run your app!</h4></div>
    </div>
  </div>

</div>



<div class="">
  <div class="col-sm-12 col-md-6 align-self-center pr-md-4 pr-lg-0">
    <h2>Drawing database schema</h2>
    <p>Every app starts with the database schema. It's the skeleton that defines how the data is organized and how the relations among them are associated.</p>
    <p>Schema contains tables, columns, data types, relationships, primary keys, foreign keys, etc.</p>
    <p>Here are few important rules to follow to make our program works perfectly:</p>
    <ul>
      <li>Choose the right data-type for each column</li>
      <li>Names matter! you should name your tables in plural, and your columns singular</li>
      <li>Think about the relations between your tables and use foreign keys to connect them.</li>
    </ul>
  </div>
</div>



<section class="step-big">
</section>

<section class="step-big">

</section>

<section class="step-big">

</section>

<section class="step-big">

</section>

