<div class="container" style="min-height: 100vh">
<h1>Your Projects</h1>
<div class="border-bottom my-4"></div>

<div class="light-grey-area">
  <p id="test">
    <strong>Search</strong> for project or model names
  </p>
  <input type="text" class="form-control index-search-box" id="index-search-box">
</div>

  <%= render 'projects', projects: @projects %>

</div>
<!-- here we will add a list of all file for each project -->
