
<div class="container">
<h1>Your Projects</h1>
</div>

<div class="light-grey-area">
  <div class="container">
    <div class="border-bottom my-4"></div>
    <% @projects.each do |project| %>
      <p> <%= link_to project.name, project_path(project) %>
        <span class="models-grey-text">
          models:
          <% project.models.each_with_index do |model, i| %>
            <%= " #{model}#{ i+1 < project.models.length ? "," : "" }" %>
          <% end %>
        </span>
      </p>

    <% end %>
  </div>
</div>
<!-- here we will add a list of all file for each project -->
