
<div class="container">
  <h1 class="d-flex justify-content-center" style="margin-bottom: 45px;">Your new Rails project</h1>
  <div class="border-bottom my-4"></div>
  <div class="row d-flex justify-content-center">
    <div class="col-sm-12 col-md-8">
      <%= render 'form' %>
    </div>
  </div>
</div>
