
<div class="container">
    <div>
      <pre>
        <code class="plaintext">
          <% @commands.each do |command| %>
          <%= command %>
          <% end %>
        </code>
      </pre>
    </div>
</div>
