<div class="container d-flex justify-content-center text-pop-up-top">
  <%= link_to "Sign in with", user_github_omniauth_authorize_path, class: "text-pop-up-top" ,style: "color: white;" %> <i class="fab fa-github text-pop-up-top" style="color: white;"></i><br />
</div>
