.code-block {
  background: #23241f;
  padding: 20px 30px;
  margin-bottom: 1rem;
}

$highlight-col: rgba(235, 255, 238, 0.74);

.code-input {
  display: block;
  flex-grow: 1;
  color: #f8f8f2;
  background: #23241f;
  font-size: 87.5%;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  border: none;
  padding: 4px 3px 4px 3px;
  &::selection {
    background-color: $highlight-col;
  }
}

.customise-options-div {
  background-color: $light-gray;
  padding: 20px 30px;
  margin-bottom: 1rem;
}

.in-div-wald-checkbox {
  margin-top: -13px;
  margin-left: -8px;
}



.scaffold-title-template-option-span {
  display: inline-block;
  margin-right: 0px;
  margin-bottom: 1rem;
}

.code-row {
  display: flex;
  width: 100%;
}

.show-xml-form {
  width: 100%;
}


.devise-hidden {
  opacity: 0.5;
  pointer-events: none;
}

#XML-input-command {
  height: 435px;
  width: 100%;
}

// .code-input-big {
//   display: block;
//   flex-grow: 1;
//   color: #f8f8f2;
//   background: #23241f;
//   font-size: 87.5%;
//   font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
//   border: none;
//   padding: 4px 3px 4px 3px;
//   &::selection {
//     background-color: transparent;
//   }
// }

.code-copy-icon {
  margin-top: 3px;
  display:inline-block;
  color: #bdc3c7;
  margin-right: 10px;
  &:hover {
    color: #6C72FA;
    cursor: pointer;
  }
}


.link-code-block {
  background: #eff0f1;
  padding: 20px 30px;
  // margin-bottom: 2rem;
  // max-width: 400px;
}

.link-code-input {
  display: block;
  flex-grow: 1;
  color: #303336;
  background: #eff0f1;
  font-size: 87.5%;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  border: none;
  padding: 4px 3px 4px 3px;
  &::selection {
    background-color: $highlight-col;
  }
}

.share-link-mobile {
  display: none;
}

@media (max-width: 767px) {

  .share-link-mobile {
    display: block;
  }

  .share-link-desktop {
    display: none;
  }
  /* Target devices narrower than 768px. */
}




.template-option-div {
  display: inline-block;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px dashed white;
}

.scaffold-template-option-div {
  display: inline-block;
}

.template-option-span {
  display: inline-block;
  margin-right: 18px;
}

.d-flex-for-devise {
  display: inline-block;
}

.d-flex-for-github {
  display: inline-block;
  margin-bottom: 7px;
}

.d-flex-for-heroku {
  display: inline-block;
}



// .devise-span {
//   display: inline-block;
//   margin-right: 2.5%;
// }

// .github-span {
//   display: inline-block;
//   margin-right: ;
// }

// .heroku-span {
//   display: inline-block;
//   margin-right: 2.5%;
// }

.devise-for-span {
  margin-right: 9px;
}

.show-page-checkbox {
  display: inline-block;
  margin-top: -2px;
  margin-left: 8px;
}

.scaffold-template-option-span {
  display: inline-block;
  margin-right: 5px;
  margin-left: 9px;
}

// .scaffold-template-option-span {
//   display: inline-block;

//   margin-left: 9px;
// }

// .devise-checkbox {
//   display: inline-block;
//   margin-top: -2px;
//   margin-left: 8px;
// }

// .wald-checkbox {
//   display: inline-block;
//   margin-top: -2px;
//   margin-left: 8px;
// }

// .github-checkbox {
//   display: inline-block;
//   margin-top: -2px;
//   margin-left: 8px;
// }

// .heroku-checkbox {
//   display: inline-block;
//   margin-top: -2px;
//   margin-left: 8px;
// }

.devise-selector {
  display: inline-block;
}

.devise-dropdown {
  margin-top: -7px;
}


.scaffold-span {
  margin-right: 8px;
}
.code-xmlfile {
  // box-shadow: inset 0 10px #000000;
  padding: 10px 0px 0px 10px;
}

.scaffold-checkbox-div {
  padding: 4px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin-top: -5px;
  margin-right: 8px;
  margin-bottom: 14px;
  color: #919294;
}

.s-color-selected {
  // border: 1px solid rgb(255, 95, 63);
  border: 1px solid $purple;
  color: $dark-gray;
}


.s-all-color-selected {
  color: $dark-gray;
  border: 1px solid rgb(255, 95, 63);
}






