.hvr-float-shadow {
  text-decoration-line: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  text-decoration-line: none;
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  text-decoration-line: none;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  text-decoration-line: none;
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.in-nav-link-div {
  text-decoration-line: none !important;
}

.in-nav-link {
  text-decoration-line: none !important;
  display: inline-block;
  margin-right: 35px;
}

.navbar {
  padding-right: 10%;
  padding-left: 8%;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Roboto', sans-serif;
  background-color: #EFF0F1;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.navbar-padding-class {
  padding-bottom: 140px;
}

.navbar-transparent{
  background-color: transparent;

    #logo_wald {
    width: 130px;
  }

  .in-nav-link a {
    text-decoration-line: none;
    color: white;
  }
}

#navbar-login-button {
  background: #6C72FA;
  border-radius: 4px;
  padding: 10px 30px;
}

#logo_wald {
  width: 70px;
}

.convert-now-class-div {
  padding-top: 35px;
}

.convert-now-button {
  background: #6C72FA;
  border-radius: 4px;
  padding: 12px 30px 10px 30px;
  width: 173px;
  height: 50px;
  color: white !important;
  font-family: 'Roboto', sans-serif;
}


.nav-link {
  text-decoration-line: none;
  color: white !important;
  font-family: 'Roboto', sans-serif;
  padding-right: 40px !important;
  padding-left: 0px !important;
}

.navbar-brand {
  font-weight: bold;
  padding-top: 2px;
}

.avatar-size-navbar {
  width: 50px;
}

.nav-item {
  text-decoration-line: none !important;
}
