.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  padding: 10px 60px;
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
}

#navbar-login-button {
  background: #6C72FA;
  border-radius: 6px;
  padding: 1px 30px;
  font-weight: bold;
}

.nav-link {
  color: white !important;
  font-family: 'Roboto', sans-serif;
}

.navbar-brand {
  font-weight: bold;
}
